.misspell-highlight-SCH-Extension-yellow {
    background: yellow;
    color: black !important;
    text-decoration: underline;
    text-decoration-color: red;
    display: inline;
}

.misspell-highlight-SCH-Extension-blue {
    background: blue;
    color: white !important;
    text-decoration: underline;
    text-decoration-color: red;
    display: inline;
}

.misspell-highlight-SCH-Extension-red {
    background: red;
    color: white !important;
    text-decoration: underline;
    text-decoration-color: red;
    display: inline;
}

.misspell-highlight-SCH-Extension-white {
    background: white;
    color: black !important;
    text-decoration: underline;
    text-decoration-color: red;
    display: inline;
}

/* .misspell-highlight-SCH-Extension {
    display: inline-block;
    position: relative;
    background: yellow;
}

.misspell-highlight-SCH-Extension:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~";
    font-size: 0.6em;
    font-weight: 700;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 12px;
    left: -1px;
    overflow: hidden;
} */