/* .highlight {
    background: blue;
} */

/* TODO: Give a better class name because this is such common name and some pages use this so it cause interference */
.highlight {
    display: inline-block;
    position: relative;
    background: yellow;
}

.highlight:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~";
    font-size: 0.6em;
    font-weight: 700;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 12px;
    left: -1px;
    overflow: hidden;
}