body {
    width: 240px;
    /* "Dark mode"
    background: #292929;
    color: white; */
}

h1 {
    margin: 0;
}

.highlighting label {
    display: block;
}

.check-btn {
    display: inline-block;
    margin-right: 20px;
}

.highlighting {
    display: inline-block;
}

#switch {
    width: 90px;
    margin-top: 2px;
}

.color-box {
    border: 1px solid;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

.color-box:hover {
    /* border: 2px solid rgb(43, 43, 43); */
    box-shadow: 0 0 3px rgb(43, 43, 43);
}

.current {
    border: 2px solid rgb(43, 43, 43);
    
}

.colors {
    display: flex;
    margin-bottom: 10px;
}

.interface button {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.interface button:hover {
    color: #ffffff !important;
    background: #228cd3;
    border-color: #228cd3 !important;
    transition: all 0.4s ease 0s;
}

.interface button:focus {
    outline: none;
}